/*loader*/

.wait {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -14px 0 0 -14px;
	width: 28px;
	height: 28px;
	text-align: left;
	-webkit-transition: width .5s ease-out;
	-moz-transition: width .5s ease-out;
	-o-transition: width .5s ease-out;
	transition: width .5s ease-out;
	font-size: 11px;
	text-indent: 28px;
	white-space: nowrap;
	overflow: hidden;
	background: #fff;
}

.wait i {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 56px;
	height: 28px;
	border-left: 28px solid #fc3;
	background: #fc3;
}

.wait:before,.wait:after,.wait i:before,.wait i:after {
	position: absolute;
	top: 0;
	height: 28px;
	content: ""
}

.wait:before,.wait:after {
	width: 2px;
	background: #191919;
	z-index: 10000;
}

.wait:before {
	left: 8px;
}

.wait:after {
	left: 18px;
}

.wait i:before {
	left: 100%;
	width: 28px;
	height: 28px;
	border-left: 28px solid #fff;
	background: #9cc;
}

.wait i:after {
	background: #fff;
	width: 28px;
	height: 28px;
}

#loader {
	-webkit-transition: opacity .5s ease-out .2s;
	-moz-transition: opacity .5s ease-out .2s;
	-o-transition: opacity .5s ease-out .2s;
	transition: opacity .5s ease-out .2s
}

.loaded #loader {
	opacity: 0;
}

.wait i {
	-webkit-animation: sprite 2s ease-in-out infinite;
	-moz-animation: sprite 2s ease-in-out infinite;
	-o-animation: sprite 2s ease-in-out infinite;
	animation: sprite 2s ease-in-out infinite
}

.no-csstransforms3d .wait i {
	-webkit-animation: basesprite 2s ease-in-out infinite;
	-moz-animation: basesprite 2s ease-in-out infinite;
	-o-animation: basesprite 2s ease-in-out infinite;
	animation: basesprite 2s ease-in-out infinite;
}

.no-csstransitions .wait i,.no-csstransitions .wait:before,.no-csstransitions .wait:after {
	display: none!important
}

.no-csstransitions .wait {
	background: url("../img/l.gif")!important
}

@-webkit-keyframes basesprite {
	0% {
		left: 29px;
	}

	100% {
		left: -140px;
	}
}

@-moz-keyframes basesprite {
	0% {
		left: 29px;
	}

	100% {
		left: -140px;
	}
}

@-o-keyframes basesprite {
	0% {
		left: 29px;
	}

	100% {
		left: -140px;
	}
}

@keyframes basesprite {
	0% {
		left: 29px;
	}

	100% {
		left: -140px;
	}
}

@-webkit-keyframes sprite {
	0% {
		-webkit-transform: translate3d(29px,0,0)
	}

	100% {
		-webkit-transform: translate3d(-140px,0,0)
	}
}

@-moz-keyframes sprite {
	0% {
		-moz-transform: translate3d(29px,0,0)
	}

	100% {
		-moz-transform: translate3d(-140px,0,0)
	}
}

@-o-keyframes sprite {
	0% {
		transform: translate3d(29px,0,0)
	}

	100% {
		transform: translate3d(-140px,0,0)
	}
}

@keyframes sprite {
	0% {
		transform: translate3d(29px,0,0)
	}

	100% {
		transform: translate3d(-140px,0,0)
	}
}


/*loader*/
