.work-navbar{
  width: 100%;
  background: none;
  top: 0;
  height: 120px;

}
.work-img-caption h1{
  line-height: 1.3em;
}

.work-navbar-container{
  height: 100%;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 30px 20px;
  background: none;
  vertical-align: middle;

}

.work-brand a{
  background: url(../img/zz-logo@3x.png) no-repeat;
  width:89px;
  height: 23px;
  position: absolute;
  float: left;
  background-size: contain;
  display: block;
  margin: 5px;


}

.work-brand span{
  display: none;
}


.work-navbar-container ul{
  position: relative;
  float: right;
  display: block;
  margin: 0;
  padding: 0;

}

.work-navbar li{
  display: inline-block;
  position: relative;
  float: left;
  padding: 8px 20px;
  vertical-align: baseline;
}

.work-navbar li a{
  color: #444;
  text-decoration: none;
  transition: color 1.1s;
}


.work-navbar li a:hover{
  color: #999;
  transition: color 1.1s;

}



.work-container{
  width: 90%;
  position: relative;
  margin: 20px auto;
}

.work-head{
  position: relative;
  width: 100%;
  margin: 80px auto auto auto;
}
p {
  text-align: left;
}
ul.info{
  max-width: 600px;
  position: relative;
  margin: auto;
  text-align: center;
  vertical-align: baseline;
  padding: 0;

}

.info li{
  display: inline-block;
  text-decoration: none;
  padding: 15px 10px;
  margin: 0;
}

.info li a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  transition: color 1s;
}

.info li a:hover{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  transition: color 1s;
}

.work-title{
  text-align: center;
  font-size: 1.2em;
  line-height: 1.7em;
  font-family:'Lato', sans-serif;
  position: relative;;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}


.work-hero img{
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  top: 30px;
  position: relative;
}

.desc-container{
  max-width: 100%;
  position: relative;
  margin: 20px 20px 40px 20px;
  padding: 20px 30px 80px 40px;
  top: 60px;
  line-height: 1.5em;
  display: inline-block;
  border-bottom: solid 1px #ccc;

}

div.work-desc{
  width: 45%;
  float: left;
  margin: 0;
  display: block;
  position: relative;
  padding: auto 30px;

}


div.work-position{
  position: relative;
  width: 45%;
  float: right;
  margin: 0;
  display: block;
  padding: auto 30px;

}



.img-present{
  max-width: 1020px;
  margin: auto;
  position: relative;
  top: 60px;
  display: block;


}

.work-img{
  width:100%;
  position: relative;
  display: block;
  top: 20px;
  bottom: 20px;
  margin: auto auto 30px auto;
  object-fit: contain;

}


.work-img-caption{
  max-width: 960px;
  position: relative;
  display: block;
  padding-top: 60px;
  margin: 20px auto 40px auto;


}



.work-img-caption h2{
  display: block;
  width: 100%;
  position: relative;
}

 .work-img-caption a{
  color: #888;
  text-decoration: none;
}

.work-img-caption a:hover{
  color: #666;
  text-decoration: none;
  transition: color 1s;
}


.goodbye{
max-width: 960px;
position: relative;
display: block;
padding-top: 60px;
font-size: 1.2em;
margin: 20px auto 40px auto;
text-align: center!important;
color: #ccc;

}

.goodbye h1{
  font-size: 2em;
  line-height: 1.3em!important;
  text-align: center!important;
}

div.next{
  display: block;
  position: relative;
  max-width: 1020px;
  margin: auto;
  top: 180px;
}

div.next a{
  color: #f54955;
  text-decoration: none;
  transition: color 1s;
}
div.divider{
  margin-top: 50px;
  margin-bottom: 15px;
  max-width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px dashed #ccc;
}

div.next a:hover{
  color: #f9838b;
  transition: color 1s;
}

.gallery-contaner{
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-section{
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
}

.gallery-grid{

  margin-left: auto;
  margin-right: auto;
}

.photo-pic{
  /*height: 200px;
  width: 200px;*/
  margin: 8px;
  padding: 0px;

}

div.p-footer{
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 13px;
  padding-bottom: 40px;
  bottom: 20px;
  top: 20px;
}
@media(max-width:1275px) {

.gallery-contaner{
  max-width: 860px;
}

.gallery-section{
  max-width: 860px;
}


.photo-pic{
  /*height: 200px;
  width: 200px;*/
  margin: 13px;
  padding: 0px;

}

}

@media(max-width: 860px) {

.gallery-contaner{
  max-width: 90%;
}

.gallery-section{
  max-width: 90%;
}


.photo-pic{

  width: 90%;
  margin: 3% 5%;
  padding: 0px;

}

}

@media(max-width:768px){
.photo-pic{

  width: 100%;
  height: 300px;
  margin: 3% 0%;
  object-fit: cover;

}
}
@media(max-width:640px) {



  div.work-desc{
    width: 100%;
    float: none;
    margin: auto;
    position: relative;
    display: block;


  }

  .work-title h1{

    line-height: 1.7em;
  }

  div.work-position {
    width: 100%;
    float: none;
    margin: auto;
    position: relative;
    display: block;
}
  }

@media(max-width:320px){

  .photo-pic {
      width: 98%;
      margin: 3% 1%;


    }

  .work-navbar li{

    padding: 8px 10px;

}
.desc-container{
  top:35px;
  padding:20px 30px 30 30px;
}
.work-img-caption{
  padding-top:20px;
}
div.footer{
  top:280px;
  padding-bottom: 20px;
}
}
