body
{
	color:#7e7e7e;
	font:300 28px/38px 'myriad-pro',MyriadPro,'Myriad Pro','Open Sans','Helvetica Neue',Helvetica,sans-serif}
#loader,#everything,.wait:before,.wait:after
{
	background:#f1f5f0
	
	}
	
.wait
{
	background:#5fb7ae
	}
.wait i
{
	border-color:#b3c4d4;
	background:#b3c4d4
	}
	
.wait i:after
{
	background:#5fb7ae
	}
	
.wait i:before
{
	border-color:#5fb7ae;
	background:#b3c4d4
	}
.navbar
{
	background:#5fb7ae
	}
.navbar .brand
{
	margin-left:0
	}
	
.level:nth-child(4)
{
	padding-bottom:160px
	}
h1.a
{
	width:100%;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	background:url("../img/h1.svg") 0 0 no-repeat;
	height:70px
	}
.level:nth-child(4) h1.a
{
	background-position:0 -70px
	}

.no-backgroundsize h1.a,.no-svg h1.a
{
	color:#5fb7ae;
	font:800 90px/90px "Open Sans",sans-serif;
	background:0;
	text-indent:0;
	height:auto;
	margin-bottom:-15px
	}

.lead
{
	font-size:36px;
	line-height:48px
	}
	
#dribbble
{
	position:relative;
	z-index:1;
	width:100%;
	overflow:hidden;
	background:#f1f5f0
	}

.grid
{
	clear:both;
	position:relative;
	width:100%;
	margin:0 auto;
	overflow:hidden
	}
.loaded .grid
{
	visibility:visible
	}

.shot
{
	float:left;
	width:25%;
	overflow:hidden;
	position:relative;
	max-width:400px;
	max-height:300px;
	background:#fff
	}

.shot-wrap
{
	position:relative
	}

.shot a
{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
	background:#00aeef;
	cursor:pointer;
	color:#fff;
	font-size:12px;
	font-weight:600;
	text-transform:uppercase;
	opacity:0;
	-webkit-transition:opacity 0 linear .3s;
	-moz-transition:opacity 0 linear .3s;
	-o-transition:opacity 0 linear .3s;
	transition:opacity 0 linear .3s
	}

.shot .heart
{
	background-size:12px 100px;
	width:12px;background-position:0 -89px
	}

.shot img
{
	position:relative;
	z-index:2;
	max-width:100%;
	height:auto;
	cursor:pointer;
	opacity:0;
	-webkit-transition:-webkit-transform .5s ease-in-out,opacity .3s linear;-
	moz-transition:-moz-transform .5s ease-in-out,opacity .3s linear;
	-o-transition:-o-transform .5s ease-in-out,opacity .3s linear;
	transition:transform .5s ease-in-out,opacity .3s linear
	}
.shot.piss a,.shot.piss img
{
	opacity:1
	}

.shot.piss:hover img
{
	-webkit-transform:translate3d(0,-100%,0);
	-moz-transform:translate3d(0,-100%,0);
	transform:translate3d(0,-100%,0)
	}

.no-csstransforms3d .shot.piss:hover img
{
	-webkit-transform:translate(0,-100%);
	-moz-transform:translate(0,-100%);
	-ms-transform:translate(0,-100%);
	-o-transform:translate(0,-100%);
	transform:translate(0,-100%)
	}

.shot .wait
{
	z-index:3;
	}
.shot.piss .wait
{
	display:none
	}
	
.no-csstransitions .shot .wait
{
	text-indent:0;overflow:visible;
	font-size:12px;
	background:none!important
	}

.shot b
{
	position:absolute;
	top:50%;
	left:0;
	right:0;
	margin-top:-70px;
	height:140px;
	font:300 120px/120px 'myriad-pro-condensed',"Myriad Pro Condensed",'Open Sans',sans-serif;
	vertical-align:text-top;
	letter-spacing:-2px
	}

.shot.piss b
{
	opacity:1
	}
.shot span
{
	display:block;
	font:700 14px/15px 'myriad-pro',MyriadPro,'Myriad Pro','Open Sans','Helvetica Neue',Helvetica,sans-serif;
	letter-spacing:0;
	color:#fff
	}

.shot b span
{
	margin-bottom:-10px
	}

.shot b+span
{
	position:absolute;
	left:0;
	right:0;
	top:90%;
	color:#76d3f6
	}
@media(max-width:799px)
{.shot{width:50%}}

@media(min-width:800px) and (max-width:1199px)
{.shot{width:33.333333333333333333%}}
@media(min-width:1200px) and (max-width:1599px)
{.shot{width:25%}}
@media(min-width:1600px) and (max-width:1999px)
{.shot{width:20%}}
@media(min-width:2000px) and (max-width:2399px)
{.shot{width:16.6666666666666%}}
@media(min-width:2400px)
{.shot{width:400px;height:300px}
rid{max-width:2400px}}
.no-js .level:nth-child(4),.no-js #dribbble
{display:none}

@media(min-width:1440px)
{
	.shot b
	{font-size:120px}
	.shot .heart
	{background-size:18px 150px;
	background-position:0 -135px;
	width:18px;
	margin:-3px 5px 0 0}}

@media(min-width:1020px) and (max-width:1031px)
{
	.lead
	{
		font-size:35px
		}
	
	.container
	{
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		padding-left:10px;
		padding-right:10px}
		}
@media(max-width:1020px)
{.lead br{display:none}}

@media(max-width:768px)
{
	h1.a
	{
		background-size:400px 103px;
		height:52px
		}
	.level:nth-child(4)
	{
		padding-bottom:90px
		}
	.level:nth-child(4) h1.a
	{
		background-position:0 -52px
		}
	
	body
	{
		font-size:22px;
		line-height:32px
		}
	
	.lead
	{
		font-size:32px;
		line-height:40px
		}}
@media(max-width:568px)
{
	body
	{
		font-size:16px;
		line-height:22px
		}
	#everything
	{
		margin-bottom:0
		}
	.navbar.open
	{
		height:148px
		}
	
	.lead
	{
		font-size:20px;
		line-height:28px
		}
	h1.a
	{
		background-size:250px 63px;
		width:173px;
		height:32px;
		margin:auto
		}
	.level:nth-child(4)
	{
		padding-bottom:40px
		}
	
	.level:nth-child(4) h1.a
	{
		background-position:0 -32px;
		width:250px
		}
	#dribbble
	{
		padding-bottom:0!important;
		-webkit-transform:none!important;
		-moz-transform:none!important;
		-o-transform:none!important;
		transform:none!important
		}
	.shot .wait
	{
		display:none
		}
	.shot a
	{
		background:transparent;
		z-index:4;
		opacity:1;
		box-shadow:inset 1px 1px 0 #e6e7e8
		}
	
	.shot.piss a
	{
		box-shadow:none
		}
	.shot img
	{
		opacity:1
		}
	.shot a *
	{
		visibility:hidden
		}
	
	.shot b
	{
		font-weight:700
		}
	
	.shot b,.shot b+span
	{
		margin:0 3px
		}
	.shot b span:after
	{
		content:": "
		}
	.shot.piss:hover img,.no-csstransforms3d .shot.piss:hover img
	{
		-webkit-transform:none;-moz-transform:none;
		-ms-transform:none;
		-o-transform:none;
		transform:none}}
@media(max-width:280px)
{
	h1.a
	{
		width:130px;
		height:23px;
		background-size:180px 46px!important;
		margin:0 auto
		}
	.level:nth-child(4) h1.a
	{
		background-position:0 -23px;
		width:180px
		}
	.top-200
	{margin-top:40px}
	}