.folio-brand {

  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  padding: 24px;
}

.divider  {
  height: 1px;
  width: 640px;
  background-color: transparent;
  border-bottom: dotted 1px;
  padding: 10px 0;
  margin-top: 0;
  margin-bottom: 0;
}

 .d-light {
   border-color: rgba(255, 255, 255, 0.6);
 }

 .d-dark {
   border-color: #ccc;
 }


h2,h3,p{
  /*font-family: "Open Sans", sans-serif;*/
  line-height: 1.75em;
  color: #444;
}

p {
  font-weight: 300;
}


/*head*/
.p-head {
 max-width: 100%;
 display: block;
 position: relative;
}

#p-name, #p-info {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  letter-spacing: 1px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  top: 21px;
}
h2#p-name,h3 {
  margin-bottom: 10px;
}
#p-info p, #p-role p, #p-desc p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 15px;

}

div.p-pic {
  max-width: 100%;
  height: 450px;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.p-pic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#p1{
    background-image: url(../img/tangsec/hero.jpg);
}

#p2{
    background-image: url(../img/wysummit-2016/hero.jpg);
}

#p3{
    background-image: url(../img/wyreport-2015/hero.jpg);
}

#p4{
    background-image: url(../img/wysummit-2015/hero.jpg);
}

#p5{
    background-image: url(../img/zh-promo/hero.jpg);
}

#p6{
    background-image: url(../img/zhihu-android/hero.png);
}

#p7{
    background-image: url(../img/zhihu-ios7/hero.png);
}

.p2-w{
  background-color: #f0744e;
}


.p3-w{
  background-color: #5bc7c9;
}

.p4-w {
  background-color: #0f1837;
}

.p5-w {
  background-color: #00adef;
}

.p6-w {
  background-color: #f1f1f1;
}
.p7-w {
  background-color: #0077d9;
}

p b{
  font-weight: bold;
}

#p-info a{
  color:#777;
  transition: 1s color;
}

#p-info a:hover {
  color: #333;
  transition: 1s color;
}

 #p-info a.z-ios7 {
  color: #f5f5f5;
  transition: 1s color;

}

#p-info a.z-ios7:hover {
  color: #ccc;
  transition: 1s color;
}

h3 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue","Helvetica",PingFang SC,PingFang TC,"Noto Sans CJK",Hiragino Sans GB,STHeiti,Microsoft YaHei,Microsoft JhengHei,sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: none;
}

.p-desc-container {
  max-width: 100%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 10px 30px;
  clear: both;
  overflow: hidden;
}

.p1-w {
  background-color: #7cc5be;
}

.w-light {
  color: #fff;
}

.italic {
  font-style: italic;
}

/*#p-desc, */
#p-role{
  max-width: 640px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 15px;
}

#p-role p {
  padding: 35px 10px;
  font-size: 15px;
  font-weight: 300;
}


#p-role p{
  font-family: "Open Sans", sans-serif;
}
/*
#p-desc {
  float: left;
}*/

/*head*/



/*content*/

section.present {
  max-width: 100%;
  min-height: 300px;
  display: block;
  position: relative;
  border-bottom: dotted 1px #ccc;
  overflow: hidden;

}

.c-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;

}

.center {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;


}

.vertical {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5%;
}



section.present img{
  margin-top: 20px;
  margin-bottom: 50px;
}

.w-center {
  text-align: center;
}

.p-content h2{
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.p-content p, .p-content h2, .p-content h3{
  padding: 0 10px;

}
.p-content p, .p-content h3{
margin-top: 15px;
margin-bottom: 20px;
}



.p-content img {

  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.normal {
  width: 800px;
  max-width: 100%;
}

img.full {
  max-width: 100%;
  width: 960px;
}

div#p-1.w-full {
    background-color: #ffb727;
}

div#a-is.w-full {
  background-color: #f5f5f5;
}

div.w-full{
  width: 100vw;
  top: 20px;
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
  position: relative;

}


section#ui {
  border-bottom: none;
}





section#design.present {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 10px 10px;
  background-blend-mode: darken;


}

#design h2{
  z-index: 999;
}

#design img{
  max-width: 600px;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  right: 40%;
  opacity: 0.4;
}

/*content*/


#back {
  clear: both;
  max-width: 100%;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


div#top a{
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: block;
  color: rgba(255, 255, 255, 0.9);
  padding: 6px 14px;
  z-index: 999;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Brandon",sans-serif;
}




section#goodbye {
  background-color: #fff3d7;
  height: 400px;
  width: 100%;
  max-width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.last-p {
  display: block;
  width: 33.33%;
  height: 100%;
  float: left;

}

div.previous {
  background-color: #fff3d7;
  display: block;
  z-index: 999;
  width: 33.33%;
}

a .previous img{
  max-width: 30%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  filter: contrast(100%) opacity(100%) brightness(1);
  -webkit-filter: contrast(100%) opacity(100%) brightness(1);
  -moz-filter: contrast(100%) opacity(100%) brightness(1);
  transition: 1s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transition: 1s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
  -moz-transition: 1s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
}

a .previous img:hover {
  filter: contrast(150%) opacity(90%) brightness(0.7);
  -webkit-filter: contrast(150%) opacity(90%) brightness(0.7);
  -moz-filter: contrast(150%) opacity(90%) brightness(0.7);
  transition: 1s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transition: 1s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
  -moz-transition: 1s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
}


a .next img{
  max-width: 30%;
  position: absolute;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%) scaleX(-1);
  -webkit-transform: translateY(-50%) scaleX(-1);
  -o-transform: translateY(-50%) scaleX(-1);
  transform: translateY(-50%) scaleX(-1);
    /*IE*/
  filter:FlipH;
  transform: translateY(-50%) scaleX(-1);
  filter: contrast(100%) opacity(100%) brightness(1);
  -webkit-filter: contrast(100%) opacity(100%) brightness(1);
  -moz-filter: contrast(100%) opacity(100%) brightness(1);
  transition: 1s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transition: 1s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
  -moz-transition: 1s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
}

a .next img:hover {
  filter: contrast(150%) opacity(90%) brightness(0.7);
  -webkit-filter: contrast(150%) opacity(90%) brightness(0.7);
  -moz-filter: contrast(150%) opacity(90%) brightness(0.7);
  transition: 1s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transition: 1s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
  -moz-transition: 1s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
}

div.words {
  background-color: #fa6b53;
}

div.l-container {
  width: 28%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

}

div.l-container h2{


}

div.next {
  background-color: #fff3d7;
  display: block;
  z-index: 999;
  width: 33.33%;
}

div.p-txt, div.n-txt {
  position: absolute;
  max-width: 100%;
  font-size: 18px;
  font-family: "Brandon",sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

div.p-txt {
  top: 17%;
  left: 18%;
}

div.n-txt {
  top: 17%;
  right: 20%;
}

#goodbye h2, #goodbye p{
  text-transform: none;
  color: #fdefd7;

}

#goodbye h2{
  line-height: 1.3em;
  letter-spacing: 1px;
  font-size: 18px;

}

#goodbye a {
  color:#fa6b53;
  transition: 1s color;
}

#goodbye a:hover {
  color: #e74d33;
  transition: 1s color;
}

.words div.l-container p a{
  color: rgba(255,255,255, 0.8);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.8);
  transition: 1s color, 1s border-bottom;
}

div.l-container p a:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  transition: 1s color, 1s border-bottom;
}

section#footer {
  height: 90px;
}


@media (max-width:1080px) {


section#goodbye{
  height: 300px;
}
  div.p-txt {
    top: 17%;
    left: 12%;
}

div.n-txt {
    top: 17%;
    right: 15%;
}


}

@media (max-width:800px){


div.p-txt {
  top: 13%;
  left: 10%;
}

div.n-txt {
  top: 13%;
  right: 13%;
}

}

@media (max-width:640px){
  div.p-txt {
    top: 13%;
    left: 5%;
  }

  div.n-txt {
    top: 13%;
    right: 10%;
  }

div#top {
  display: none;
}

}


@media (max-width:640px){

.vertical {
    margin-top: 20%;
    margin-bottom: 20%;}

section#goodbye {
  height: 250px;
}

#goodbye h2,#goodbye p{
  margin-top: 10px;
  margin-bottom: 10px;
}

div.p-txt {
  top: 13%;
  left: 2%;
}

div.n-txt {
  top: 13%;
  right: 4%;
}

div.words{
  visibility: hidden;
  background-color: #fff3d7;
}

div.last-p {
  width: 50%;
}

a .next img {
    max-width: 35%;
  }
a .previous img {
    max-width: 35%;
}
}

@media (max-width:375px){
  .vertical {
    margin-top: 20%;
    margin-bottom: 20%;}

  #design img{
    max-width: 400px;
    top: 10%;
    left: 10%;
  }
}

@media (max-width:320px){
  .vertical {
    margin-top: 20%;
    margin-bottom: 20%;
  }
  #design img{
    max-width: 400px;
    top: 10%;
    left: 10%;
  }
}
