body
{color:#848484}
#loader

{
	background:#0077d9;}
.wait:before,.wait:after
{
	background:#df4a32}

.wait i
{
	border-color:#f5b500;background:#5f7db7
	}

.wait i:before{background:#f5b500}.navbar{background:#2da0fc}.navbar .navbar-toggle{color:#2da0fc}

h1,.upperquad a{color:#373737}h1{background:url("../img/f1f1f1.gif") 0 50% repeat-x}.hero.level{background:#f1f1f1;border-bottom:1px solid #d0d0d0;padding-top:101px;padding-bottom:40px}.hero h1{font-weight:300;font-size:48px;line-height:54px;margin:0 0 10px}.level{padding-top:45px}h2{color:#474747}.detail{border-top:1px solid #c7c7c7}.plus-icon{display:inline-block;background:url("../img/googleplus/plus-icons.png") -8px 0 no-repeat;width:218px;height:54px;margin-left:auto;margin-right:auto}.plus-icon.devices{background-position:-3px -71px}.plus-icon.image{width:226px;height:58px;background-position:0 -150px}@media(-webkit-min-device-pixel-ratio:1.5),(min-resolution:1.5dppx){.plus-icon{background:url("../img/googleplus/plus-icons-x2.png") -8px 0 no-repeat;background-size:226px 208px}}@media(max-width:568px){h1{background:0}.hero{padding-top:40px}.hero h1{font-size:40px;line-height:46px}.plus-icon{background-size:114px 105px;background-position:0 0;width:114px;height:32px;margin-bottom:-15px}.plus-icon.devices{background-position:0 -35px}.plus-icon.image{width:114px;height:32px;background-position:0 -75px}}
